.MainInterface {
  width: 70%;
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.MainInterface .dropdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: flex-start;
  align-self: flex-start;
  padding-bottom: 0.5em;
}

.MainInterface .dropdown h3 {
  font-size: 1.5rem;
}

.MainInterface .dropdown .datasets {
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25em;
  text-align: center;
  width: 8em;
}

.MainInterface .interface {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: orange;
}

.MainInterface .interface .outputBox {
  display: flex;
  flex-direction: row;
  background-color: blue;
  height: 90%;
  width: 100%;
}

.MainInterface .interface .outputBox .outputText {
  width: 30%;
  height: 100%;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MainInterface .interface .outputBox .outputText .responses {
  width: 92.5%;
  height: 95%;
  max-height: 95%;
  background-color: #212121;
  overflow-y: scroll;
  padding: .5em;
}

.MainInterface .responses p {
  color: white;
  text-align: left;
  margin-bottom: 2.5em;
}

.MainInterface .interface .outputBox .outputVisual {
  width: 70%;
  height: 100%;
  background-color: pink;
}

.MainInterface .interface .inputBox {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
